
/* HEADER */

.head{
  background-color: rgb(44, 62, 80);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 999;
}

div.start h4{
  color: white;
  text-transform: uppercase;
  padding: 15px 0;
}

div.h-bars i{
  color: rgb(136, 136, 136);
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid white; 
  border-radius: 5px; 
}

div.h-bars i:hover{
  cursor: pointer;
  background-color: rgb(27, 38, 49);
}

/* Lista */

ul{
  display: flex;
}

li.left{
  padding-left: 50px;
}

li{
  color: white;
  font-weight: bold;
  list-style: none;
  justify-content: space-around;
  text-transform: uppercase;
  padding-top: 20px; 
}

a{
  text-decoration: none;
}

li.center{
  margin: 0px 30px;
}

/* /Lista */
/* HEADER */

/* Jumbotron */

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 188, 156);
}

div.jumbo{
  margin-top: 50px;
}

div.jumbo img{
  width: 35%;
}

h1{
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
}

div.jumbotron .star{
  color: white;
}

div.jumbotron h2{
  color: white;
  text-transform: uppercase;
  font-size: 23px; 
}

/* /Jumbotron */

/* MAIN */

div.portfolio h2,
div.about h2,
div.contact{
  padding-top: 40px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

div.portfolio h2{
  color: rgb(44, 62, 80);
}

div.ir-card{
  margin-bottom: 30px;
  position: relative;
}

div.aggiungi{
  top: 0;
  position: absolute;
  background-color: rgba(26, 188, 156,0.6);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

div.ir-card:hover .aggiungi{
  cursor: pointer;
  display: flex;
}

div.aggiungi i{
  color: white;
  font-size: 6rem;
}


div.col img{
  width: 100%;
  border-radius: 10px;
}

div.star,
div.star2{
  color: rgb(44, 62, 80);
  font-size: 2rem;
  padding-bottom: 20px;
}

div.star2{
  color: white;
}


div.about{
  color: white;
  background-color: rgb(26, 188, 156);
}

div.ir-container{
  width: 70%;
  margin: auto;
}

div.text-lore{
  text-align: left;
  background-color: rgb(26, 188, 156);
  padding: 20px;
}

div.btn-1 button{
  color: white;
  border-color: white;
}

div.btn-1 button:hover{
  color: black;
  border-color: rgb(26, 188, 156);
  background-color: white;
}

div.btn-2 button{
  background-color: rgb(26, 188, 156);
  border-color: white;
}

div.btn-2 button:hover{
  background-color: rgb(5, 100, 81);
  border-color: white;
}

div.contact h2{
  color: rgb(44, 62, 80);
}

div.contact-2 .col-12{
  margin-bottom: 10px;
}

div.col-12 input,
.text-box{
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
}

div.col-12 span{
  background-color: rgb(26, 188, 156);
  border: none;
  text-align: left;
}


/* /MAIN */

/* fOOTER */

footer{
  background-color: rgb(58, 84, 109);

}

div.col-sm-12 .fa-facebook-f{
  padding: 15px 18px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

div.col-sm-12 .fa-google-plus-g,
div.col-sm-12 .fa-twitter,
div.col-sm-12 .fa-linkedin-in{
  padding: 15px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

div.location h4,
div.around h4,
div.about-2 h4,
div.copy h4{
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
}

div.location span,
div.about-2 span,
div.copy span{
  color: white;
}

div.location,
div.about-2,
div.copy{
  padding-bottom: 20px;
  background-color: rgb(58, 84, 109);
  border: none;
  font-weight: bold;
}

div.around{
  background-color: rgb(58, 84, 109);
  border: none;
}

div.about-2 .boot{
  color: rgb(26, 188, 156);
  cursor: pointer;
}

div.copy span{
  color: white;
  font-size: 0.8rem;
}
div.copy{
  padding: 30px 0;
  background-color: rgb(44, 62, 80);
}



/* /fOOTER */











/* DEBUG */

.debug{
  background-color: blue;
  border: 1px solid black;
}

.debug1{
  background-color: aqua;
  border: 1px solid black;
}

.debug2{
  background-color: antiquewhite;
  border: 1px solid black;
  
}

.h100{
  height: 100px;
}

.h-cent{
  height: 100%;
}

.h200{
  height: 200px;
}

.h400{
  width: 400px;
  height: 400px;
}

.h600{
  height: 600px;
}